In [2]:
import pandas as pd
tabela_vendas = pd.read_excel('Vendas.xlsx')
#Imprimir arquivo na tela
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [13]:
#Filtrando por loja
vendas_norteshopping = tabela_vendas.loc[tabela_vendas['ID Loja'] == 'Norte Shopping']
display(vendas_norteshopping)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [14]:
#filtrando linhas e colunas
vendas_norteshipping_dois = tabela_vendas.loc[tabela_vendas['ID Loja'] == 'Norte Shopping', 
['ID Loja', 'Produto','Valor Unitário']]
display(vendas_norteshipping_dois)

              ID Loja                 Produto  Valor Unitário
3      Norte Shopping                 Relógio             200
4      Norte Shopping            Chinelo Liso              71
8      Norte Shopping  Camisa Gola V Listrado             116
9      Norte Shopping             Camisa Liso             105
100    Norte Shopping            Cueca Xadrez              60
...               ...                     ...             ...
93716  Norte Shopping             Polo Xadrez             142
93754  Norte Shopping              Calça Liso             190
93755  Norte Shopping          Casaco Estampa             256
93756  Norte Shopping                   Gorro              80
93852  Norte Shopping           Bermuda Linho             195

[3924 rows x 3 columns]

In [15]:
#filtrar por coluna
produto_valor = tabela_vendas[['Produto', 'Valor Unitário']]
display(produto_valor)

                 Produto  Valor Unitário
0         Sapato Estampa             358
1               Camiseta             180
2          Sapato Xadrez             368
3                Relógio             200
4           Chinelo Liso              71
...                  ...             ...
93905     Mochila Xadrez             283
93906  Pulseira Listrado              79
93907     Cueca Listrado              67
93908     Pulseira Linho             114
93909      Casaco Xadrez             259

[93910 rows x 2 columns]